@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<div class="row" style="padding-top:10px">
    <div class="form-row">
        <div class="form-group col-md-1" style="padding:2px">
            <label style="font-weight:normal">@localizer["Plant"]</label>
            <select id="selplant" class="form-control select2">
                <option></option>
                <option>TVO1</option>
                <option>TVO2</option>
                <option>TVO3</option>
            </select>
        </div>
        <div class="form-group col-md-1" style="padding:2px">
            <label style="font-weight:normal">@localizer["MaterialCode"]</label>
            <select id="selmatcode" class="form-control select2">
                <option></option>
                <option>F011001501</option>
                <option>F011001601</option>
                <option>F012001501</option>
                <option>F012001601</option>
            </select>
        </div>
        <div class="form-group col-md-3" style="padding:2px">
            <label style="font-weight:normal">@localizer["MaterialName"]</label>
            <select id="selmatname" class="form-control select2">
                <option></option>
                <option>TVO Dehulled soymeal (TH) 70 Kg</option>
                <option>TVO Dehulled soymeal (TH) Bulk</option>
                <option>TVO Dehulled soymeal 70KG</option>
                <option>TVO Dehulled soymeal BulK</option>
            </select>
        </div>
        <div class="form-group col-md-1" style="padding:2px">
            <label style="font-weight:normal">@localizer["MFGDate"]</label>
            <input id="txmfgdate" class="form-control text-center" />
        </div>
        <div class="form-group col-md-1" style="padding:2px">
            <label style="font-weight:normal">@localizer["Line"]</label>
            <select id="seltype" class="form-control select2">
                <option></option>
                <option>J</option>
                <option>K</option>
            </select>
        </div>
        <div class="form-group col-md-1" style="padding:2px">
            <label style="font-weight:normal">@localizer["Status"]</label>
            @*tbm_pk_batch_status*@
            <select id="selstatus" class="form-control select2">
                <option></option>
                <option>PASS</option>
                <option>HOLD</option>
                <option>REJECT</option>
            </select>
        </div>
        <div class="form-group col-md-1" style="padding:2px">
            <label style="font-weight:normal">@localizer["BatchNo"]</label>
            <input id="txbatch" class="form-control" />
        </div>
        <div class="form-group col-md-3" style="margin-bottom:0px;padding-top:27px">
            <button type="submit" class="btn btn-primary">@localizer["Search"]</button>
            <button type="submit" class="btn btn-success" id="btupdate"  onclick="showmodal(1)">@localizer["Update"]</button>
            <button type="submit" class="btn btn-secondary">@localizer["Excel"]</button>
        </div>
        <div class="form-group col-md-12">
            <div class="form-inline">
                <table class="isr-table" id="tbl1">
                    <thead>
                        <tr>
                            <th style="width:50px">
                                <input type="checkbox" id="checlapp" />
                            </th>
                            <th style="width:120px">@localizer["BatchNo"]</th>
                            <th>@localizer["Plant"]</th>
                            <th>@localizer["MaterialName"]</th>
                            <th style="width:100px">@localizer["Line"]</th>
                            <th>@localizer["Package"]</th>
                            <th>@localizer["Qty"]</th>
                            <th>@localizer["UOM"]</th>
                            <th>@localizer["MFGDate"]</th>
                            <th>@localizer["ExpiredDate"]</th>
                            <th>@localizer["Status"]</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><input type="checkbox" id="cb1" name="cb1" /></td>
                            <td class="text-center">290224M3C</td>
                            <td class="text-center">TVO1</td>
                            <td>TVO Dehulled soymeal (TH) 70 Kg</td>
                            <td class="text-center">J</td>
                            <td class="text-right">1,000</td>                           
                            <td class="text-right">20</td>                            
                            <td class="text-center">KG</td>
                            <td class="text-center">01/02/2024</td>
                            <td class="text-center">01/07/2024</td>
                            <td class="text-center" style="color:gold">HOLD</td>
                        </tr>
                        <tr>
                            <td class="text-center"><input type="checkbox" id="cb1" name="cb1" /></td>
                            <td class="text-center">290224M3A</td>
                            <td class="text-center">TVO1</td>
                            <td>TVO Dehulled soymeal (TH) Bulk</td>
                            <td class="text-center">J</td>
                            <td class="text-right">1,000</td>
                            <td class="text-right">20</td>
                            <td class="text-center">KG</td>
                            <td class="text-center">01/02/2024</td>
                            <td class="text-center">01/07/2024</td>
                            <td class="text-center" style="color:gold">HOLD</td>
                        </tr>
                        <tr>
                            <td class="text-center"><input type="checkbox" id="cb1" name="cb1" /></td>
                            <td class="text-center">290224M3B</td>
                            <td class="text-center">TVO1</td>
                            <td>TVO Dehulled soymeal (TH) Bulk</td>
                            <td class="text-center">J</td>
                            <td class="text-right">1,000</td>
                            <td class="text-right">20</td>
                            <td class="text-center">KG</td>
                            <td class="text-center">01/02/2024</td>
                            <td class="text-center">01/07/2024</td>
                            <td class="text-center" style="color:gold">HOLD</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modalapproval">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Approval</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="showmodal(0)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label style="font-weight:normal">STATUS</label>
                        @*tbm_pk_batch_status*@
                        <select id="selupdatestatus" class="form-control">
                            <option></option>
                            <option>PASS</option>
                            <option>HOLD</option>
                            <option>REJECT</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label style="font-weight:normal">REMARK</label>
                        <textarea class="form-control" id="txremark" style="height:80px"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="showmodal(0)">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="showmodal(0)">Close</button>
            </div>
            </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        SetPagename('Approval');
    });

    function showmodal(flagshow) {
        if (flagshow == 1) {
            $('#modalapproval').show();
        } else {
            $('#modalapproval').hide();
        }
    }
    $(function () {
        var d = new Date();
        $('#txmfgdate').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            orientation: "auto"
        }).datepicker("setDate", d);
    });
</script>