
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<div class="row" style="padding-top:10px">
    <div class="form-row">
        <div class="form-group col-md-3" style="margin-bottom:3px">
            <label style="font-weight:normal;margin-bottom:3px" for="selline">@localizer["Line"]</label>
            <select id="selline" class="form-control select2" style="width:100%">
                <option selected></option>                
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
                <option>J</option>
            </select>
        </div>
        <div class="form-group col-md-3" style="margin-bottom:3px">
            <label style="font-weight:normal;margin-bottom:3px" for="selsloc">@localizer["SLOC"]</label>
            <select id="selsloc" class="form-control select2" style="width:100%">
                <option></option>
                <option>MP3A</option>
                <option>MP3B</option>
                <option>FS1</option>
            </select>
        </div>
        <div class="form-group col-md-1" style="margin-bottom:3px">
            <label style="font-weight:normal;margin-bottom:3px" for="txbatch">@localizer["BatchNo"]</label>
            <input type="text" class="form-control text-center" id="txbatch" readonly>
        </div>
        <div class="form-group col-md-1" style="margin-bottom:3px">
            <label style="font-weight:normal;margin-bottom:3px" for="txbatch">@localizer["SubBatch"]</label>
            <input type="text" class="form-control text-center" id="txsubbatch" readonly>
        </div>
        <div class="form-group col-md-2" style="margin-bottom:3px">
            <label style="font-weight:normal;margin-bottom:3px" for="txdate">@localizer["MFGDate"]</label>
            <input type="text" class="form-control text-center" id="txmfgdate">
        </div>
        <div class="form-group col-md-2" style="margin-bottom:3px">
            <label style="font-weight:normal;margin-bottom:3px" for="txuser">@localizer["ExpiredDate"]</label>
            <input type="text" class="form-control" id="txexpiredate" readonly>
        </div>

        <div class="form-group col-md-3" style="margin-bottom:3px">
            @*tbm_material.material_code*@
            <label style="font-weight:normal;margin-bottom:3px" for="selmatcode">@localizer["MaterialCode"]</label>@*Material Code*@
            <select id="selmatcode" class="form-control select2" style="width:100%">
                <option selected></option>
                <option>F011001501</option>
                <option>F011001601</option>
            </select>
        </div>
        <div class="form-group col-md-3" style="margin-bottom:3px">
            <label style="font-weight:normal;margin-bottom:3px" for="selprod">@localizer["MaterialGroup"]</label>
            <input id="txmatgroup" class="form-control" readonly />
        </div>
        <div class="form-group col-md-4" style="margin-bottom:3px">
            <label style="font-weight:normal;margin-bottom:3px" for="selprod">@localizer["MaterialName"]</label>
            <input id="txmatname" class="form-control" readonly />
        </div>
        <div class="form-group col-md-2" style="margin-bottom:3px">
            <label style="font-weight:normal;margin-bottom:3px" for="txstatus">@localizer["Hold"]</label>
            <input type="text" class="form-control" id="txstatus" readonly>
        </div>


        <div class="form-group col-md-3" style="margin-bottom:10px">
            <label style="font-weight:normal;margin-bottom:3px" for="txqty">@localizer["Qty"]</label>
            <div class="row">
                <div class="col-md-4"><input type="text" class="form-control text-center" id="txtotalqty"></div>
                <div class="col-md-4"><input type="text" class="form-control text-center" id="txqtyfrom" readonly></div>
                <div class="col-md-4"><input type="text" class="form-control text-center" id="txqtyto" readonly></div>
            </div>            
        </div>
@*        <div class="form-group col-md-1">
            <label for="">Run no To</label>
            
        </div>*@
        <div class="form-group col-md-2" style="margin-bottom:10px">
            <label style="font-weight:normal;margin-bottom:3px" for="seluom">@localizer["UOM"]</label>
            <select id="seluom" class="form-control select2" style="width:100%">
                <option selected></option>
                <option>00 ไม่ระบุ</option>
                <option>BAG</option>
                <option>BOX</option>
                <option>Bottle</option>
                <option>Kg</option>
            </select>
        </div>
        <div class="form-group col-md-1" style="margin-bottom:10px">
            <label style="font-weight:normal;margin-bottom:3px" for="txqrcode">@localizer["Package"]</label>
            <input type="text" class="form-control" id="txpackage" readonly>
        </div>
        <div class="form-group col-md-1" style="margin-bottom:10px">
            <label style="font-weight:normal;margin-bottom:3px" for="txqrcode">@localizer["Shift"]</label>
            <input type="text" class="form-control" id="txshift" readonly>
        </div>

        <div class="form-group col-md-4" style="margin-bottom:10px;padding-top:22px">
            <button type="submit" class="btn btn-info" id="btapply">@localizer["Apply"]</button>
            <button type="submit" class="btn btn-primary" id="btsave">@localizer["Save"]</button>
            <button type="submit" class="btn btn-success" disabled id="btclose">@localizer["CloseJob"]</button>
            <button type="submit" class="btn btn-secondary">@localizer["PrintQRCode"]</button>
            <button type="submit" class="btn btn-warning">@localizer["ClearData"]</button>
        </div>
        <div class="form-group col-md-12" style="text-align:center">
            <table class="isr-table" id="tblbatch">
                <thear>
                    <tr>
                        <th style="width:45px;font-weight:normal"><input type="checkbox" id="checkkall" checked /></th>
                        <th style="width:120px;font-weight:normal">@localizer["BatchNo"]</th>
                        <th style="width:80px;font-weight:normal">@localizer["Line"]</th>
                        <th style="width:80px;font-weight:normal">@localizer["RunNo"]</th>
                        <th style="width:120px;font-weight:normal">@localizer["MaterialType"]</th>
                        <th style="width:120px;font-weight:normal">@localizer["MaterialCode"]</th>
                        <th style="font-weight:normal">@localizer["MaterialGroup"]</th>
                        <th style="font-weight:normal">@localizer["Shift"]</th>
                        <th style="width:120px;font-weight:normal">@localizer["MFGDate"]</th>
                        <th style="width:120px;font-weight:normal">@localizer["ExpiredDate"]</th>
                    </tr>
                </thear>
                <tbody>
                    <tr>
                        <td class="text-center" style="width:45px;font-weight:normal"><input type="checkbox" id="cb1" name="cb1" checked /></td>
                        <td class="text-center" style="width:120px;font-weight:normal">201223M3B</td>
                        <td class="text-center" style="width:80px;font-weight:normal">J</td>
                        <td class="text-center" style="width:80px;font-weight:normal">1</td>
                        <td class="text-center">BAG</td>
                        <td class="text-center">F011001501</td>
                        <td class="text-left">ดีฮัลซอยมิลNon GMO</td>
                        <td class="text-center">เช้า</td>
                        <td class="text-center">01/02/2024</td>
                        <td class="text-center">01/06/2024</td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width:45px;font-weight:normal"><input type="checkbox" id="cb1" name="cb1" checked /></td>
                        <td class="text-center" style="width:120px;font-weight:normal">201223M3B</td>
                        <td class="text-center" style="width:80px;font-weight:normal">J</td>
                        <td class="text-center" style="width:80px;font-weight:normal">2</td>
                        <td class="text-center">BAG</td>
                        <td class="text-center">F011001501</td>
                        <td class="text-left">ดีฮัลซอยมิลNon GMO</td>
                        <td class="text-center">เช้า</td>
                        <td class="text-center">01/02/2024</td>
                        <td class="text-center">01/06/2024</td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width:45px;font-weight:normal"><input type="checkbox" id="cb1" name="cb1" checked /></td>
                        <td class="text-center" style="width:120px;font-weight:normal">201223M3B</td>
                        <td class="text-center" style="width:80px;font-weight:normal">J</td>
                        <td class="text-center" style="width:80px;font-weight:normal">3</td>
                        <td class="text-center">BAG</td>
                        <td class="text-center">F011001501</td>
                        <td class="text-left">ดีฮัลซอยมิลNon GMO</td>
                        <td class="text-center">เช้า</td>
                        <td class="text-center">01/02/2024</td>
                        <td class="text-center">01/06/2024</td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width:45px;font-weight:normal"><input type="checkbox" id="cb1" name="cb1" checked /></td>
                        <td class="text-center" style="width:120px;font-weight:normal">201223M3B</td>
                        <td class="text-center" style="width:80px;font-weight:normal">J</td>
                        <td class="text-center" style="width:80px;font-weight:normal">4</td>
                        <td class="text-center">BAG</td>
                        <td class="text-center">F011001501</td>
                        <td class="text-left">ดีฮัลซอยมิลNon GMO</td>
                        <td class="text-center">เช้า</td>
                        <td class="text-center">01/02/2024</td>
                        <td class="text-center">01/06/2024</td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width:45px;font-weight:normal"><input type="checkbox" id="cb1" name="cb1" checked /></td>
                        <td class="text-center" style="width:120px;font-weight:normal">201223M3B</td>
                        <td class="text-center" style="width:80px;font-weight:normal">J</td>
                        <td class="text-center" style="width:80px;font-weight:normal">5</td>
                        <td class="text-center">BAG</td>
                        <td class="text-center">F011001501</td>
                        <td class="text-left">ดีฮัลซอยมิลNon GMO</td>
                        <td class="text-center">เช้า</td>
                        <td class="text-center">01/02/2024</td>
                        <td class="text-center">01/06/2024</td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width:45px;font-weight:normal"><input type="checkbox" id="cb1" name="cb1" checked /></td>
                        <td class="text-center" style="width:120px;font-weight:normal">201223M3B</td>
                        <td class="text-center" style="width:80px;font-weight:normal">J</td>
                        <td class="text-center" style="width:80px;font-weight:normal">6</td>
                        <td class="text-center">BAG</td>
                        <td class="text-center">F011001501</td>
                        <td class="text-left">ดีฮัลซอยมิลNon GMO</td>
                        <td class="text-center">เช้า</td>
                        <td class="text-center">01/02/2024</td>
                        <td class="text-center">01/06/2024</td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width:45px;font-weight:normal"><input type="checkbox" id="cb1" name="cb1" checked /></td>
                        <td class="text-center" style="width:120px;font-weight:normal">201223M3B</td>
                        <td class="text-center" style="width:80px;font-weight:normal">J</td>
                        <td class="text-center" style="width:80px;font-weight:normal">7</td>
                        <td class="text-center">BAG</td>
                        <td class="text-center">F011001501</td>
                        <td class="text-left">ดีฮัลซอยมิลNon GMO</td>
                        <td class="text-center">เช้า</td>
                        <td class="text-center">01/02/2024</td>
                        <td class="text-center">01/06/2024</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        SetPagename('Loading');
    });

    $(function () {
        var d = new Date();
        $('#txmfgdate').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            orientation: "auto"
        }).datepicker("setDate", d);
    });

</script>